# --- MySQL (dipakai authservice) ---
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=auth_db

# --- RabbitMQ (dipakai order, produser, consumer) ---
RABBITMQ_USER=ari
RABBITMQ_PASSWORD=12345

# --- Grafana ---
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
APP_MAIL_TO=fachrianata123@gmail.com
